<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="single.wuxc.wisdomparty"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wuxc.wisdomparty.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeOfEmployeeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeOfHealthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeOfMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeOfVolunteerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeOfYouthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.HomeActivity.HomeSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.SearchDataListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.NoticeDatalistActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.LoginAactivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberDiscussionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberPartyBranchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberPartyDuesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberPartyTransformActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberRespondActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberRulesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.PartyBranchDataListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.TransformConfirmActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.MemberPartyBranchDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.RespondDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="wuxc.wisdomparty.OtherActivity.RulesDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>